* {
        box-sizing: border-box; 
        padding: 0;
        margin: 0;
    }


    body {
        background-color: snow;
    }

    #coupon {
        font-family: Merriweather, serif;
        font-size: 10px;
        text-align: center;
        color: gray;
        background-color: rgba(255, 255, 255, 0.8);
        padding: 8px 0 8px 0;
        margin: 0 80px 0 80px;
    }

    h1 {
        font-family: Merriweather, serif;
        font-size: 56px;
        color: white;
        padding: 56px 0 24px 80px;
        background-color: rgba(0, 0, 0, 0.2);
        margin-left: 100px;
    }

    .hero {
        background-image: url('https://images.unsplash.com/photo-1600618528240-fb9fc964b853?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=M3wzMjM4NDZ8MHwxfHJhbmRvbXx8fHx8fHx8fDE3MDk1MTA4MzB8&ixlib=rb-4.0.3&q=80&w=400');
        background-size: cover;
        border-radius: 0 0 20px 20px;
        margin: 0 80px 0 80px;
    }

    .button {
        font-family: Merriweather, serif;
        color: darkslategray;
        font-size: 16px;
        display: inline-flex;
        background-color: white;
        padding: 16px 40px 16px 40px;
        border-radius: 10px;
        box-shadow: 2px 2px 4px gray;
        margin: 0 0 100px 180px;
    }

    ul.navlist {
        display: flex;
        justify-content: center;
        margin-top: 24px;
        margin-bottom: 24px;
    }

   .menunav,
    a:link, a:visited {
        list-style: none;
        font-family: Merriweather, serif;
        font-size: 16px;
        text-decoration: none;
        color: darkslategray;
        opacity: 0.8;
        padding: 16px;
    }

    a:hover {
        color: #1b1f2e;
    }


    .experience {
        background-image: url('https://images.unsplash.com/photo-1544367567-0f2fcb009e0b?crop=entropy&cs=srgb&fm=jpg&ixid=M3wzMjM4NDZ8MHwxfHJhbmRvbXx8fHx8fHx8fDE3MDk2MDAzOTl8&ixlib=rb-4.0.3&q=85');
        background-size: cover;
        padding: 40px 0 40px 0;
        border-radius: 20px 20px 0 0;
        margin: 0 80px 0 80px;
    }

    h2 {
        font-family: Merriweather, serif;
        font-size: 32px;
        color: white;
        padding-bottom: 40px;
        margin: 24px 0 0 180px;
    }

    p {
        font-family: Merriweather, serif;
        font-size: 16px;
        color: white;
        margin: 0 0 0 180px;
    }
    
    .buttonmore {
               font-family: Merriweather, serif;
               color: darkslategray;
               font-size: 14px;
               display: inline-flex;
               background-color: white;
               padding: 16px 40px 16px 40px;
               border-radius: 10px;
               box-shadow: 2px 2px 4px gray;
               margin: 40px 0 200px 180px;
        
           }

    .dark {
        font-family: Merriweather;
        font-weight: bold;
        font-size: 32px;
        color: darkslategray;
        padding: 24px 0 24px 0;
        margin: 40px 0 0 180px;
    }

    .ourclass {
        border-left: 10px solid darkslategray;
        margin: 40px 0 40px 80px;
        background-image: linear-gradient(#fff, #f3f3f3);
    }

    .students {
        margin: 0 0 0 180px;
        color: gray;
        font-family: Merriweather;
        font-size: 16px;
    }

    .buttonbook {
    font-family: Merriweather, serif;
        color: darkslategray;
        font-size: 14px;
        display: inline-flex;
        background-color: white;
        padding: 16px 40px 16px 40px;
        border-radius: 10px;
        box-shadow: 2px 2px 4px gray;
        margin: 40px 0 40px 180px;
    }

    .lessonplan{
        font-family: Merriweather, serif;
        font-weight: bold;
        font-size: 32px;
        color: darkslategray;
        margin: 80px 0 0 80px;

    }

    img.yogacard {
        width: 100%;
        object-fit: cover;
        border-radius: 10px 10px 0 0;
    }

    .level {
        font-family: Merriweather, serif;
        font-size: 24px;
        color: darkslategray;
        padding: 24px 0 0px 24px;
    }

    p.description {
        font-family: Merriweather;
        font-size: 16px;
        color: gray;
        margin: 0;
        padding: 24px 20px 16px 24px;
        text-wrap: wrap;
    }

    ul.menu {
        padding: 24px 16px 24px 16px;
    }

    ul.menu li {
        font-family: Merriweather, serif;
   padding-left: 8px;
   line-height: 3cap;

    }

    .fee {
        font-family: Merriweather, serif;
        color: darkslategray;
        size: 12px;
        border: 1px solid darkslategray;
        padding: 2px 10px 2px 10px;
        display: inline-flex;
        border-radius: 4px;
        margin: 0 0 24px 24px;
    
    }

    .pricecard {
        display: inline-block;
        width: 33.33%;
        background-color: white;
        border-bottom: 10px solid gray;
        border-right: 0.5px solid gray;
        border-radius: 20px 20px 0 0;
    }

    hr {
        color: lightgray;
        opacity: 0.3;
        width: 50%;
margin: auto;
    }

    .price {
        display: flex;
        gap: 24px;
        margin: 0 80px 40px 80px;
        justify-content: center;
    }

    li {
        font-family: Merriweather, serif;
        font-size: 12px;
        color: darkslategray;
        list-style-position: inside;
    }

    .organized {
                font-family: Merriweather;
                    font-weight: bold;
                    font-size: 32px;
                    color: darkslategray;
                    margin: 0;
    }

    .review {
    font-family: Merriweather, serif;
    font-size: 16px;
    color: gray;
    margin: 0;
    }

    .testimonial {
        float: left;
        width: 50%;
    }

    img.woman {
        width: 200px;
        height: 200px;
        object-fit: cover;
        border-radius: 100px;
        border: 10px solid snow;

    }

    .voice {
        display: flex;
        margin: 60px 0 60px 0;
        justify-content: center;
        align-items: center;
        background-color: white;
        padding: 40px 0 40px 0;
        box-shadow: 2px 2px 20px rgb(213, 211, 211);
    }

    img.blogpic {
        width: 150px;
        height: 150px;
        object-fit: cover;
        margin: auto;
        border-radius: 0 10px 10px 0;
    }

    h3 {
            font-family: Merriweather, serif;
                font-size: 24px;
                color: darkslategray;
                padding: 24px 0 0px 24px;
                margin: 0 0 0 0;
    }

    .blogcard {
        display: flex;
        background-color: white;
        width: 70%;
        margin: 0 0 24px 0;
        border-bottom: 1px solid lightgray;
    }

    .blogtext {
        display: inline-block;
    }

    .blogpost {
        font-family: Merriweather, serif;
        font-size: 16px;
        margin: 24px 0 24px 24px;
        color: gray;
        text-wrap: wrap;
    }

    div.blog {
        display: flex;
        flex-direction: column;
        margin: 0 0 40px 80px;
    }

.now {
            font-family: Merriweather, serif;
                font-weight: bold;
                font-size: 40px;
                color: white;
                padding: 40px 0 40px 0;
                margin: 0 0 0 80px;

    }

    div.register {
        background-image: url('https://images.unsplash.com/photo-1503891617560-5b8c2e28cbf6?crop=entropy&cs=srgb&fm=jpg&ixid=M3wzMjM4NDZ8MHwxfHJhbmRvbXx8fHx8fHx8fDE3MDk3ODg1NjJ8&ixlib=rb-4.0.3&q=85');
            background-size: cover;
    }

    p.reg {
        color: white;
        font-family: Merriweather;
        font-size: 16px;
        text-wrap: wrap;
        margin: 0 0 40px 80px;
    }


    .buttonreg {
        font-family: Merriweather, serif;
        color: white;
        font-size: 16px;
        background-color: darkslategray;
        padding: 16px 40px 16px 40px;
        display: inline-flex;
        border-bottom: 2px solid white;
        border-right: 2px solid white;
        border-radius: 4px;

        justify-content: center;
        align-items: center;
        margin: 0 80px 40px 80px;
        text-align: center;
    }

    footer {
        background-color: black;
    }


.address{
    font-family: Merriweather, serif;
    font-size: 12px;
    color: white;
    display: inline-flex;
    flex-direction: column;
}

.site {
    list-style: none;
    display: inline-flex;
    flex-direction: column;
    gap: 8px;
    border-left: 1px solid white;
    padding-left: 40px;
}

.sitemenu{
    font-family: Merriweather;
    color: white;
    font-size: 14px;
}

#rights {
    font-family: Merriweather, serif;
    font-size: 8px;
    color: white;
    text-align: center;
    padding: 24px 0 40px 0;
}

.ftwrap {
    display: flex;
    gap: 40px;
    justify-content: center;
    padding: 40px 0 40px 0;
}